<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<script  src="./lib/jquery.min.js"></script>
<script src="./lib/jquery-ui.js"></script>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<link rel="stylesheet" href="./lib/bootstrap-theme.min.css">
<script  src="./lib/bootstrap.min.js"></script>
<script  src="./lib/angular.min.js"></script>
<script  src="./lib/angucomplete-alt.js"></script>
<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="./angularjs/login.js"></script>
<script src="./angularjs/userModule.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />

<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<title>Welcome</title>
</head>

<body ng-app="userModule" ng-controller="userController">
	<script type="text/javascript">
		x = '<%= userid %>';
		uname = '<%= username %>';
		uname3 = '<%= username %>';
 	</script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twitter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li>
				<input class="form-control" style="margin-top: 8.5px" type="" ng-model="searchkey" ng-keypress="search()" placeholder="search"></input>
			</li>
	      <li><a data-toggle="modal" href="#myTweet"><i class="fa fa-twitter"></i>  Tweet</a></li>
	      <li>
	      	<form action="user/logout" method="post">
							<input style="margin-top: 7.5px;" class="btn btn-default" type="submit" value="Logout"/>
						</form>
	      </li>

     	</ul>
     	</div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="col-md-3" ng-init="getuser(uname1); tweetCount(uname1); followingCount(uname1); followerCount(uname1); updateFeed();">

		<div class="twPc-div">
    		<a class="twPc-bg twPc-block"></a>

			<div>
            <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->

			<a title="" href="" class="twPc-avatarLink">
				<img alt="" src="https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png" class="twPc-avatarImg">
			</a>
			</div>
		<div class="twPc-divUser">
			<div class="twPc-divName">
				<a href="/user?username={{userInfo.username}}">{{userInfo.first + " "+ userInfo.last}}</a>
			</div>
			<span>
				<a href="/user?username={{userInfo.username}}">@{{userInfo.username}}<span></span></a>
			</span>
		</div>

		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a href="/user?username={{userInfo.username}}" title="">
						<span class="twPc-StatLabel twPc-block">Tweets</span>
						<span class="twPc-StatValue">{{tweetCount}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a data-toggle="modal" data-target=".bs-example-modal-sm" title="">
						<span class="twPc-StatLabel twPc-block">Following</span>
						<span class="twPc-StatValue">{{followingCount}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a data-toggle="modal" data-target=".bs-example-modal-sm1" >
						<span class="twPc-StatLabel twPc-block">Followers</span>
						<span class="twPc-StatValue">{{followerCount}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	</div>

	<div  class="col-md-6">

		<div style= "" ng-model="tweets">

			<span>{{hashresults}}</span>
			<div class="" ng-repeat="tweet in tweets">
				<div class="tweetStyle">
					<div ng-show="tweet.tweetdata.isRetweet">
						<i class="fa fa-retweet"></i><small> {{tweet.first + " " + tweet.last}} @{{tweet.username}} Retweeted </small> <br>
						<span style="font-size: 20px; margin-bottom: 10px; padding-bottom: 10px;"> @{{tweet.tweetdata.originTweetBy}} </span>
							<small>{{tweet.tweetdata.createdAt | date : 'medium'}}</small>
						<br>
					</div>
					<div ng-hide="tweet.tweetdata.isRetweet">
						<span style="font-size: 20px; margin-bottom: 10px; padding-bottom: 10px;"> {{tweet.first + " " + tweet.last}} </span>
							<small>@{{tweet.username}}	{{ tweet.tweetdata.createdAt | date : 'medium'}}</small>
						<br>
					</div>
					<p style="font: 15px; margin-top:10px;"> <span ng-bind-html="toTrustedHTML(tweet.tweetdata.body)"> </span></p>
					<!-- <div ng-show="uname1==tweet.username && !tweet.tweetdata.isRetweet">
						<i class="fa fa-retweet" ng-style="uname1 == tweet.username && {'color':'gray'}" data-toggle="modal" ng-style="" data-target="#retweet" ng-attr-data-content="{{tweet}}"></i><span ng-hide="tweet.tweetdata.retweetCount==0">{{tweet.tweetdata.retweetCount}}</span>
					</div> ng-show="tweet.tweetdata.isRetweet"-->
					<div>
						<i class="fa fa-retweet" ng-style="tweet.tweetdata.isRetweet && {'color':'blue'} || uname1 == tweet.username && {'color':'gray'}" data-toggle="modal" ng-style="" data-target="#retweet" ng-attr-data-content="{{tweet}}"></i><span ng-hide="tweet.tweetdata.retweetCount==0">{{tweet.tweetdata.retweetCount}}</span>
					</div>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-md-2">

			<span style="margin-bottom: 10px;">Suggested Users</span>
			<div style="border: 1px solid rgba(180, 173, 173, 0.56); padding: 5px;" ng-repeat="ruser in allusers">

				 <a href="/user?username={{ruser.username}}">{{ruser.first + " " + ruser.last}} <small>@{{ruser.username}} </small></a><br>
				 <button style="border: 1px solid rgba(180, 173, 173, 0.56);" type="button" id="followButton" name="followbutton" ng-click="follow(ruser.username);">
					 <i class="fa fa-plus" > </i>
					 Follow
				 </button>
			</div>
	</div>

	<div class= "modal fade" id="retweet" tabindex="-1" role="dialog" aria-labelledby="Retweet">
	  	<div class="modal-dialog modal-sm" >
		 	<div class="modal-content">
				<div class="modal-header">
					  <h4 class="modal-title" id="gridSystemModalLabel">Retweet</h4>
				</div>
				<div class="modal-body tweetStyle" ng-init="retweet_undo=true; retweetSuccess=false;">
					@<span  id="tweetusername"></span></br>
					<span  id="tweetc"></span>
					<input ng-model="retweet_id1" id="retweetid1" ng-hide="true">
						<p style="font: 15px; margin-top:10px;">
							<span ng-bind-html="toTrustedHTML(retweetid1)"> </span>
						</p>
					</input>
					<span ng-model="selfRetweet"></span>
					<span ng-hide="retweet_undo">Retweet Undo!</br/></span>
					<i class="fa fa-retweet" ng-style="retweetSuccess && {'color':'blue'}" id="retweet_button" ng-click="retweet()" ></i><span id="recount"></span>
				</div>
		 	</div>
	  	</div>
	</div>



<div id="myTweet" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
				<h4 class="modal-title">Tweet</h4>
			</div>
		<div class="modal-body">
			<div class="row">
				<input class="form-control" type="text" ng-model="tweetData" placeholder="What's Happening?">
				</input>
				<button class="Button" style = "float : right; margin: 10px" class="btn btn-primary" ng-click="postTweet();">Tweet</button>
			</div>
		</div>
	</div>
</div>
</div>

	<table class="table table-striped searchTable">
    <tbody ng-if="userSearch.length>0" ng-repeat="us in userSearch">
	      <tr>
	        <td><a href="./user?username={{us.username}}">{{us.first + "" + us.last}} @{{us.username}}</a></td>
	      </tr>
   	</tbody>
		<tbody ng-if="tagSearch.length>0" ng-repeat="htag in tagSearch">
	      <tr>
	        <td><a ng-href="./hashtag?keyword={{htag.substr(1)}}">{{htag}}</a></td>
	      </tr>
   	</tbody>
	</table>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Following">
  <div class="modal-dialog modal-sm">
	 <div class="modal-content">
		<div class="modal-header">
			 <h4 class="modal-title" id="gridSystemModalLabel">Following</h4>
		</div>
		<div ng-model="followings" >
		  <div class="" style="margin-left: 5px; padding: 5px; border-top: 1px solid rgba(180, 173, 173, 0.56); border-bottom: 1px solid rgba(180, 173, 173, 0.56)" ng-repeat="following in followings">
			 {{following.first + " " + following.last}} : @{{following.username}}
		  </div>
		</div>
	 </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="Followers">
  <div class="modal-dialog modal-sm">
	 <div class="modal-content">
		<div class="modal-header">
			 <h4 class="modal-title" id="gridSystemModalLabel">Followers</h4>
		</div>
		<div ng-model="followers" >
		  <div class="" style="margin-left: 5px; padding: 5px; border-top: 1px solid rgba(180, 173, 173, 0.56); border-bottom: 1px solid rgba(180, 173, 173, 0.56)" ng-repeat="follower in followers">
			 {{follower.first + " " + follower.last}} : @{{follower.username}}
		  </div>
		</div>
	 </div>
  </div>
</div>


<script type="text/javascript">
		$('#retweet').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var tweetcontent = button.data('content') // Extract info from data-* attributes
		  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			console.log("tweetcontent");
		  console.log(tweetcontent);
		  var modal = $(this)
		  modal.find('#tweetusername').text(tweetcontent.username);
		  modal.find('#tweetc').text(tweetcontent.tweetdata.tw);
		  modal.find('#retweetid1').val(tweetcontent.tweetdata._id);
		})
</script>

</body>
</html>
