<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<script  src="./lib/jquery.min.js"></script>
<script src="./lib/jquery-ui.js"></script>
<link rel="stylesheet" href="./lib/bootstrap.min.css">
<link rel="stylesheet" href="./lib/bootstrap-theme.min.css">
<script  src="./lib/bootstrap.min.js"></script>
<script  src="./lib/angular.min.js"></script>
<script  src="./lib/angucomplete-alt.js"></script>

<!-- Loading the AngularJS file from /public/angularJS folder -->
<script src="./angularjs/login.js"></script>
<script src="./angularjs/userModule.js"></script>

<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<title>Welcome</title>
</head>

<body ng-app="userModule" ng-controller="userController">
	<script type="text/javascript">
		x2 = '<%= userid1 %>';
		uname3 = '<%= uname1 %>';
 </script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Twitter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	      <li><a data-toggle="modal" href="#myTweet"><i class="fa fa-twitter"></i> Tweet</a></li>
	      <li>
	      	<form action="logout" method="post">
							<input style="margin-top: 7.5px;" class="btn btn-default" type="submit" value="Logout"/>
						</form>
	      </li>

     	</ul>
     	</div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid usertweets(window.uname);-->
</nav>

	<div class="col-md-3" ng-init="getuser(uname3); tweetCount(uname3); followingCount(uname3); followerCount(uname3); ">
		<div class="twPc-div">
    		<a class="twPc-bg twPc-block"></a>

			<div>
            <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->

			<a title="" href="" class="twPc-avatarLink">
				<img alt="Twitter" src="https://g.twimg.com/about/feature-corporate/image/twitterbird_RGB.png" class="twPc-avatarImg">
			</a>
			</div>
		<div class="twPc-divUser">
			<div class="twPc-divName">
				<a href="/user?username={{userInfo.username}}">{{userInfo.first + " "+ userInfo.last}}</a>
			</div>
			<span>
				<a href="/user?username={{userInfo.username}}">@{{userInfo.username}}<span></span></a>
			</span>
			<i  style="float: right; margin: 10px;" class="fa fa-plus" ng-click="follow(userInfo.username);">  Follow </i>
		</div>
		<div style="margin-left: 10px; margin-top: 25px;" class="twPc-divProfile">
			<span ng-show="userInfo.location">
				<i  class="fa fa-map"></i> <span style="margin-left: 10px;">{{userInfo.location}}</span>
			</span><br>
			<span ng-show="userInfo.birthdate">
				<i  class="fa fa-birthday-cake">  </i> <span style="margin-left: 10px;">{{userInfo.birthdate | date : 'shortDate'}}</span>
			</span>
		</div>
		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
					<a href="/user?username={{userInfo.username}}" title="">
						<span class="twPc-StatLabel twPc-block">Tweets</span>
						<span class="twPc-StatValue">{{tweetCount}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a data-toggle="modal" data-target=".bs-example-modal-sm" title="">
						<span class="twPc-StatLabel twPc-block">Following</span>
						<span class="twPc-StatValue">{{followingCount}}</span>
					</a>
				</li>
				<li class="twPc-ArrangeSizeFit">
					<a data-toggle="modal" data-target=".bs-example-modal-sm1" >
						<span class="twPc-StatLabel twPc-block">Followers</span>
						<span class="twPc-StatValue">{{followerCount}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	</div>


<div class="col-md-7">
    <div style= " " ng-model="usertweets">
			<div class="" ng-repeat="tweet in usrtweets">
				<div class="tweetStyle">
					<div ng-show="tweet.tweetdata.isRetweet">
						<i class="fa fa-retweet"></i><small> {{tweet.first + " " + tweet.last}} @{{tweet.username}} Retweeted </small> <br>
						<span style="font-size: 20px; margin-bottom: 10px; padding-bottom: 10px;"> @{{tweet.tweetdata.originTweetBy}} </span>
							<small>{{tweet.tweetdata.createdAt | date : 'medium'}}</small>
						<br>
					</div>
					<div ng-hide="tweet.tweetdata.isRetweet">
						<span style="font-size: 20px; margin-bottom: 10px; padding-bottom: 10px;"> {{tweet.first + " " + tweet.last}} </span>
							<small>@{{tweet.username}}	{{ tweet.tweetdata.createdAt | date : 'medium'}}</small>
						<br>
					</div>
					<p style="font: 15px; margin-top:10px;"> <span ng-bind-html="toTrustedHTML(tweet.tweetdata.body)"> </span></p>
					<!-- <div ng-show="uname1==tweet.username && !tweet.tweetdata.isRetweet">
						<i class="fa fa-retweet" ng-style="uname1 == tweet.username && {'color':'gray'}" data-toggle="modal" ng-style="" data-target="#retweet" ng-attr-data-content="{{tweet}}"></i><span ng-hide="tweet.tweetdata.retweetCount==0">{{tweet.tweetdata.retweetCount}}</span>
					</div> ng-show="tweet.tweetdata.isRetweet"-->
					<div>
						<i class="fa fa-retweet" ng-style="tweet.tweetdata.isRetweet && {'color':'blue'} || uname1 == tweet.username && {'color':'gray'}" data-toggle="modal" ng-style="" data-target="#retweet" ng-attr-data-content="{{tweet}}"></i><span ng-hide="tweet.tweetdata.retweetCount==0">{{tweet.tweetdata.retweetCount}}</span>
					</div>
				</div>
		  </div>

		</div>
</div>

<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="Retweet">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
	        <h4 class="modal-title" id="gridSystemModalLabel">Retweet</h4>
    	</div>
    	<div ng-model="followers" >

    	</div>
    </div>
  </div>
</div>



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Following">
  <div class="modal-dialog modal-sm">
	 <div class="modal-content">
		<div class="modal-header">
			 <h4 class="modal-title" id="gridSystemModalLabel">Following</h4>
		</div>
		<div ng-model="followings" >
		  <div class="" style="margin-left: 5px; padding: 5px; border-top: 1px solid rgba(180, 173, 173, 0.56); border-bottom: 1px solid rgba(180, 173, 173, 0.56)" ng-repeat="following in followings">
			 {{following.first + " " + following.last}} : @{{following.username}}
		  </div>
		</div>
	 </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="Followers">
  <div class="modal-dialog modal-sm">
	 <div class="modal-content">
		<div class="modal-header">
			 <h4 class="modal-title" id="gridSystemModalLabel">Followers</h4>
		</div>
		<div ng-model="followers" >
		  <div class="" style="margin-left: 5px; padding: 5px; border-top: 1px solid rgba(180, 173, 173, 0.56); border-bottom: 1px solid rgba(180, 173, 173, 0.56)" ng-repeat="follower in followers">
			 {{follower.first + " " + follower.last}} : @{{follower.username}}
		  </div>
		</div>
	 </div>
  </div>
</div>

</body>
</html>
